<div class="col-md-12" *ngIf="canDisplay">
  <nb-card class="col-md-6" style="margin: 50px auto 50px;">
    <nb-card-header>Change Password</nb-card-header>
    <nb-card-body>
      <form #cForm="ngForm">
        <div class="form-group">
          <label for="exampleInputPassword1" class="label">Old Password</label>
          <input type="password" nbInput fullWidth name="old" [(ngModel)]="oldpass" #oldPass="ngModel" required
            minlength="6" id="exampleInputPassword1" placeholder="Old Password">
          <div class="txtDanger" *ngIf="oldPass.errors?.required && oldPass.touched">
            Old Password is required.
          </div>
          <div class="txtDanger" *ngIf="oldPass.errors?.minlength && oldPass.touched">
            Old Password must be minimum 6 character.
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2" class="label">New Password</label>
          <input type="password" nbInput fullWidth name="new" [(ngModel)]="newpass" #newPass="ngModel" required
            minlength="6" id="exampleInputPassword2" placeholder="New Password">
          <div class="txtDanger" *ngIf="newPass.errors?.required && newPass.touched">
            New Password is required.
          </div>
          <div class="txtDanger" *ngIf="newPass.errors?.minlength && newPass.touched">
            New Password must be minimum 6 character.
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword3" class="label">Confirm Password</label>
          <input type="password" nbInput fullWidth name="cnf" [(ngModel)]="cnfpass" #cnfPass="ngModel" required
            minlength="6" id="exampleInputPassword3" placeholder="Confirm Password">
          <div class="txtDanger" *ngIf="cnfPass.errors?.required && cnfPass.touched">
            Confirm Password is required.
          </div>
          <div class="txtDanger" *ngIf="cnfPass.errors?.minlength && cnfPass.touched">
            Confirm Password must be minimum 6 character.
          </div>
          <div class="txtDanger" *ngIf="cnfPass.touched && !cnfPass.errors && newpass!=cnfpass">
            Confirm Password is not matching.
          </div>
        </div>
        <button type="submit" (click)="changePassword()" [disabled]="cForm.invalid || loading" [nbSpinner]="loading" nbSpinnerStatus="info"
          nbButton fullWidth status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>